@charset "UTF-8";
/*Перший паршал*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --additional-color: #FFFFFF;
  --background-color-hero: #2F303A;
  --background-color-team: #F5F4FA;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Другий паршал*/
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
  /* or */
  font-style: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio, .team, .about, .hero {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Третій паршал*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Четвертий паршал*/
/* Секція Хедер */
header {
  border-bottom: 1px solid #ECECEC header __page;
  border-bottom-background-color: var(--additional-color);
  border-bottom-align-items: center;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link {
  text-decoration: none;
  color: var(--title-text-color);
  display: block;
  padding: 32px 0;
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
}

.header__logo {
  color: var(--title-text-color);
}

.header__list > .item:nth-child(n+2) {
  margin-left: 50px;
}

.header__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.head:not(:last-child) {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.current {
  text-decoration: none;
  color: var(--accent-color);
  padding-top: 32px;
}
.current::after {
  content: "";
  margin-top: 28px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  display: block;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.auht__nav {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.head__icons {
  margin-right: 10px;
  fill: currentColor;
}

/*П'ятий паршал*/
/* Секція Герой */
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color-hero);
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero.png);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  color: var(--additional-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background: var(--accent-color);
  color: var(--additional-color);
  cursor: pointer;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*Шостий паршал*/
/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: var(--anim);
  transition: var(--anim);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--additional-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-btn {
  margin-left: 124px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--additional-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: var(--anim);
  transition: var(--anim);
}

.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--additional-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: var(--anim);
  transition: var(--anim);
}
.modal-close-btn:hover, .modal-close-btn:focus + .close-icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin-bottom: 10px;
}
.data__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.data__input {
  padding-left: 41px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  background-color: var(--additional-color);
  -webkit-transition: var(--anim);
  transition: var(--anim);
}

label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.data__input:focus,
textarea:focus {
  outline: transparent;
  border-color: var(--accent-color);
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  width: 448px;
  height: 138px;
}
.comment textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  padding: 12px 16px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: var(--anim);
  transition: var(--anim);
  resize: none;
}

.data__svg {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--title-text-color);
}

.data__input:focus ~ .data__svg {
  fill: var(--accent-color);
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.form-checkbox-custom-checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15px;
  margin-right: 7px;
  outline: 2px solid #9da4bd;
  outline-offset: -2px;
  border-radius: 2px;
  fill: var(--additional-color);
  -webkit-transition: background-color var(--anim), outline-color var(--anim);
  transition: background-color var(--anim), outline-color var(--anim);
}
.form-checkbox-input:checked + .form-checkbox-custom-checkbox {
  background-color: var(--accent-color);
  outline-color: var(--accent-color);
  border-color: var(--accent-color);
}

.form-agreement {
  margin-right: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.checkbox-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

/* Сьомий паршал*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*Восьмий паршал*/
.list__box {
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .list__box {
    width: calc(100% - 300px);
  }
}
@media screen and (min-width: 1200px) {
  .list__box {
    width: 680px;
    width: calc(100% - 450px);
  }
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  background-color: var(--background-color-team);
  border-radius: 4px;
}
.feature__icons {
  fill: currentColor;
  width: 70px;
  height: 70px;
}
.feature__title {
  margin-bottom: 10px;
  margin-right: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-align: center;
}
.feature__list {
  color: var(--primary-text-color);
  line-height: 1.7;
}

/*Дев'ятий паршал*/
/* Секція Чим ми займаємося */
.about {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding-top: 0;
}
.about__us {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.about__work {
  overflow-x: visible;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--additional-color);
}
.work__list {
  position: relative;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

/*Десятий паршал*/
/* Наша команда */
.team {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  background-color: var(--background-color-team);
}
.team__title {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team__list {
  background-color: var(--additional-color);
  margin-right: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__list {
    width: calc(100% - 30px);
    margin: 15px;
  }
}

.team__img {
  margin-bottom: 30px;
}

.team__name {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 10px;
  background-color: var(--additional-color);
}

.team__job {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.18;
  text-decoration: none;
  margin-bottom: 16px;
  background-color: var(--additional-color);
}

.command__icons {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  background-color: var(--additional-color);
}

.icon__list:not(:last-child) {
  margin-right: 10px;
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--additional-color);
  color: #AFB1B8;
  -webkit-transition: var(--anim);
  transition: var(--anim);
}
.team__link:hover, .team__link:focus {
  background-color: var(--accent-color);
  color: var(--additional-color);
}

.social__icons {
  fill: currentColor;
  -webkit-transition: var(--anim);
  transition: var(--anim);
}
.social__icons:hover, .social__icons:focus {
  fill: var(--additional-color);
}

/*Одинадцятий паршал*/
/*Постоянные клиенты*/
.client {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  list-style: none;
}
.client__list__item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  .client__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: 170px;
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: var(--anim);
  transition: var(--anim);
}
.client__link:hover, .client__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.client__link:hover .client__icons, .client__link:focus .client__icons {
  fill: var(--accent-color);
}

.client__icons {
  fill: #AFB1B8;
}

/* Дванадцятий паршал*/
/* Наші роботи, portfolio */
.portfolio__nav {
  text-align: center;
  margin-bottom: 50px;
}

.portfolio__success {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  text-decoration: none;
  padding: 6px 22px;
  margin-left: 8px;
  -webkit-transition: var(--anim);
  transition: var(--anim);
}
.portfolio__success:hover, .portfolio__success:focus {
  color: var(--additional-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__success.all {
  color: var(--additional-color);
  background-color: var(--accent-color);
}

/*Тринадцятий паршал*/
.card {
  padding-top: 40px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .card {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    padding-top: 50px;
    padding-bottom: 94px;
  }
}

.card__box:hover,
.card__box:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*Чотирнадцятий паршал*/
.overlay {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.overlay__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 64px 24px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  color: var(--additional-color);
  -webkit-transition: var(--anim);
  transition: var(--anim);
}
.card__box:hover .overlay__text, .card__box:focus .overlay__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/*П'ятнадцятий паршал*/ /* Шістнадцятий паршал*/
/* footer */
.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0 15px;
}

.footer {
  background-color: var(--background-color-hero);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__join {
  margin-left: auto;
}

.contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  margin-top: 20px;
}

.contact__list {
  color: var(--additional-color);
  text-decoration: none;
}

.item {
  margin-bottom: 9px;
}

.logo__footer {
  color: var(--additional-color);
}

.join {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--additional-color);
}

.icon__item:not(:last-child) {
  margin-right: 10px;
}

.icon__item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  color: var(--additional-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: var(--anim);
  transition: var(--anim);
}
.icon__item-footer:hover, .icon__item-footer:focus {
  background-color: var(--accent-color);
}

.footer__icons {
  fill: var(--additional-color);
}

.footer__icons-join {
  margin-left: 10px;
  fill: var(--additional-color);
}

.form__sign input {
  padding: 15px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  height: 86px;
}

.footer__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  border: transparent;
  text-decoration: none;
  padding-left: 29px;
  margin-left: 12px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: var(--anim);
  transition: var(--anim);
  color: var(--additional-color);
  background-color: var(--accent-color);
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  z-index: 500;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-burger {
  -webkit-transition: 500ms;
  transition: 500ms;
}
.mobile-menu-btn.is-open .mobile-menu-burger {
  opacity: 0;
}

.mobile-menu-close {
  opacity: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.mobile-menu-btn.is-open .mobile-menu-close {
  opacity: 1;
}

/**
  |============================
  | Mobile menu styles
  |============================
*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-nav {
  margin-bottom: auto;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu-nav-item .current {
  color: #2196f3;
}

.mobile-menu-contacts {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu-contacts-item .accent {
  font-size: 34px;
  color: #2196f3;
}

.mobile-menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu-socials-item:not(:last-child) .mobile-menu-socials-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}/*# sourceMappingURL=main.css.map */