@import "./utils/variables";
@import "./utils/reset";
@import "./utils/placeholders";
@import "./components/container";
@import "./components/section";
@import "./layouts/header";
@import "./layouts/hero";
@import "./components/btnmodal";
@import "./utils/visually-hidden";
@import "./layouts/feature";
@import "./layouts/about";
@import "./layouts/team";
@import "./layouts/client";
@import "./layouts/portfolio";
@import "./components/card";
@import "./components/overlay";
@import "./components/skills";
@import "./layouts/footer";