/*Чотирнадцятий паршал*/

.overlay {
  position: relative;
  overflow: hidden;

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 77px 24px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    background-color: var(--accent-color);
    color: var(--additional-color);
    transition: var(--anim);

    @media screen and (min-width: 768px) {
      padding: 49px 24px 77px 24px;
    }

    @media screen and (min-width: 1200px) {
      padding: 63px 24px;
    }
  }

  .card__box:hover &__text,
  .card__box:focus &__text {
    transform: translateY(0);
  }
}
