
/*П'ятнадцятий паршал*/

.skills {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;

        &__card {
            margin-bottom: 4px;
            margin-right: auto;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
            color: var(--title-text-color);
        }

        &__group {
            color: var(--primary-text-color);
            font-size: 16px;
            line-height: 1.8;
        }
}