
/*Восьмий паршал*/

.list__box {
display: block;
flex-wrap: wrap;
    @media screen and (min-width: 768px) {
    // flex-basis: calc((100% - 60px)/2);
    width: calc(100% - 15 * 60px / 3);
    }

    @media screen and (min-width: 1200px) {
        width: 680px;
        width: calc(100% - 15 * 90px / 3);
    }
}
.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    background-color: var(--background-color-team);
    border-radius: 4px;

        &__icons {
            fill: currentColor;
            width: 70px;
            height: 70px;
        }

        &__title {
            margin-bottom: 10px;
            margin-right: 30px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--title-text-color);
            text-align: center;

        }

        &__list {
            color: var(--primary-text-color);
            line-height: 1.7;
        }
    }

// .list {
//     // display: flex;

