
/* Дванадцятий паршал*/

/* Наші роботи, portfolio */

.portfolio {
    @extend %section;
}

.portfolio__nav {
    text-align: center;
    margin-bottom: 50px;
}

.portfolio__success {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: transparent;
    text-decoration: none;
    padding: 6px 22px;
    margin-left: 8px;
    transition: var(--anim);

        &:hover,
        &:focus {
            color: var(--additional-color);
            background-color: var(--accent-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }

        &.all {
            color: var(--additional-color);
            background-color: var(--accent-color);
        }
}