
/*Десятий паршал*/

/* Наша команда */
.team {
    @extend %section;
}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    @media screen and (min-width: 768px) {
        width: calc(100% - 2 * 30px / 2);
        margin: 15px;
    }
}
.team {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    background-color: var(--background-color-team);

        &__title {
            color: var(--title-text-color);
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.16;
            letter-spacing: 0.03em;
            margin-bottom: 50px;
        }

        &__list {
            background-color: var(--additional-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;

}}

.team__img {
    margin-bottom: 30px;
}

.team__name {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: var(--additional-color);
}

.team__job {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.18;
    text-decoration: none;
    margin-bottom: 16px;
    background-color: var(--additional-color);
}

.command__icons {
    padding-inline-start: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: var(--additional-color);
}

.icon__list:not(:last-child) {
    margin-right: 10px;
}

.team__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--additional-color);
    color: #AFB1B8;
    transition: var(--anim);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: var(--additional-color);
        }
}

.social__icons {
    fill: currentColor;
    transition: var(--anim);

        &:hover,
        &:focus {
            fill: var(--additional-color);
        }
}